  html{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  header{
      max-width: 100%;
      display: flex;
      justify-content: center;
  }
  
  .logo{
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    
  }
  
  nav .menu{
    display: flex;
    list-style: none;
    flex-direction: row; 
    max-width: 100%;
    align-items: center;
  }

  nav #menu{
      display: flex;
      margin-left: 30px;
  }
  nav .icone{
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      list-style: none;
  }
  nav{
      display: flex;
      justify-content: space-between;
    }
  nav .rs{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
  }

  footer ul{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      list-style: none;
  }

  footer .icone{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

footer .rs{
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: row;
}