/* CSS galerie */
#carouselExampleIndicators {
    margin-top: 10px;
    margin-bottom: 10px;
    height:auto;


}

/* code commun CSS */
html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  header{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .logo{
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  
  }
  
  nav{
    color: whitesmoke;
    font-size: 20px;
    background-color: #99333391;
  }
  
  nav .menu{
  display: flex;
  list-style: none;
  flex-direction: row; 
  max-width: 100%;
  align-items: center;
  }
  
  nav #menu{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
  }
  
  nav .icone{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    margin: 10px;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
  }
  
  nav .rs{
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  }
  
  footer{
    
    color: whitesmoke;
    font-size: 14px;
  }
  
  footer ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    align-items: center;
  }
  
  footer .icone{
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  }
  
  .footer{
    background-color: #99333391;
  }
  
  footer li{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  footer .rs{
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
  
  footer .rs2{
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-right: -12px;
    }