/* partie perso CSS */
body {
    color: black ;
}


.flotte1 {
    display: flex;

}
.flotte1 img{
    width:50%;
    height:30%; 
}
.flotte img{
    width:50%;
    height:30%; 
}
.flotte {
    display: flex;
    flex-direction: row-reverse;
}


p{
    text-align: justify;
    margin: 10px;
}
#Centre{
    display: flex;
    justify-content: space-around;
}

 /* <! -- partie commune CSS */ 
html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.logo{
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;

}

nav .menu{
  display: flex;
  list-style: none;
  flex-direction: row; 
  max-width: 100%;
  align-items: center;
}

nav #menu{
    display: flex;
    margin-left: 30px;
}
nav .icone{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
  }
nav .rs{
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: row;
}

footer ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}

footer .icone{
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}

footer .rs{
width: 45px;
height: 45px;
display: flex;
flex-direction: row;
} 