body {
    background:rgb(131, 46, 46);
    color: black ;
}
img {
    width:500px;
    height:300px; 
    float: right;
    flood-opacity: 50%
}
.flotte2 {
    float: left;
}
div  {
    display: flex;
    flex-direction: column;
}
