/* CSS galerie */
#carouselExampleIndicators {
    height:auto;


}
#katana {
  height: 300px;
  width: 100%;
}

/* code commun CSS */
.container{
  display: flex;
  justify-content: flex-end;
}

.toolbar{
  margin-right: -14px;
}